nav {
    background-color:darkgrey;

}
ul {
    list-style:none;
 }
ul li a{
    text-decoration: none;
    color:white;
}
li {
    /*padding:
    margin: 20px;
    border:*/
}
form input {
    margin:20px;
}