
div {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto;
}

#one {
    border: 3px dashed black;
    background-color: crimson;
}

#two {
    border: 3px dashed black;
    background-color: darkblue;
}

#three {
    border: 3px dashed black;
    background-color: darkcyan;
}

#four {
    border: 3px dashed black;
    background-color: darkolivegreen;
}