html, body, div{
    padding:0;
    /*border:0;*/
    margin:0;
    box-sizing:border-box;
}
html, body{
    height:100%;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
}
#tabs{
    width:25rem;
    border-bottom:1px solid deepskyblue;
    display:flex;
    justify-content:space-between;
}
button{
    flex-grow:1;
    font-size:1rem;
    height:2rem;
    cursor:pointer;
    background-color:white;
    border:0;
    /*margin-bottom:.5rem;*/
}

button:hover{
    border-top:2px solid white;
    border-bottom:2px solid deepskyblue;
}