body {
    max-width: 700px;
    margin: 30px auto;
}

nav, main {
    border: 1px solid black;
    box-sizing: border-box;
}

nav {
    width: 25%;
    vertical-align: top;
    float: right;
}

main {
    width: 75%;
    height:100px;
    float: right;
    padding:0 5px 5px 5px;
}
article{
    clear:both;
    padding:10px 0 0 0;
}
